.flex2 {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Añade espacio entre los elementos */
    padding: 1rem; /* Añade padding para un mejor espaciado interno */
    background-color: #f9f9f9; /* Fondo claro para mejor visibilidad */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    flex-basis: 45%; /* Ajusta el tamaño base del contenedor */
    flex-grow: 1; /* Permite que el contenedor crezca */
    flex-shrink: 1; /* Permite que el contenedor se encoja */
}

.flex1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem; /* Añade espacio entre los elementos */
    padding: 0rem 1rem; /* Añade padding para un mejor espaciado interno */
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    flex-basis: 45%; /* Ajusta el tamaño base del contenedor */
    flex-grow: 1; /* Permite que el contenedor crezca */
    flex-shrink: 1; /* Permite que el contenedor se encoja */
}
